* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.text, .h2, .link {
  font-family: Lato;
  font-style: normal;
  font-weight: bold; }

.header {
  margin: 0 auto;
  position: relative;
  background: #F4F6F9; }
  .header__logo {
    position: absolute;
    top: 61px;
    z-index: 2; }
  .header__content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 665px;
    background: #F4F6F9; }
    .header__content_size {
      display: flex;
      margin: 0 auto;
      max-width: 1200px; }
    .header__content_block {
      margin-top: 226px; }
  .header__button {
    display: flex;
    flex-direction: row;
    padding-top: 50px; }
  .header__img {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: right; }
  .header__h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333; }
  .header__h1_indent {
    width: 546px; }
  .header_text_size {
    width: 453px;
    margin-top: 30px; }
  .header__button_size {
    width: 156.05px;
    margin-right: 36px; }

.text {
  font-weight: normal;
  width: 407px;
  font-size: 18px;
  line-height: 26px;
  color: #4F4F4F; }
  .text_size {
    width: 407px;
    font-size: 16px;
    line-height: 23px; }
  .text_margin {
    margin-bottom: 27px; }
  .text_width {
    width: 311px;
    margin-right: 82px;
    font-size: 16px;
    line-height: 23px; }
  .text_button {
    display: inline-block;
    position: absolute;
    margin-top: 188px;
    margin-left: 73px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15.0621px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    width: 23px;
    height: 23px;
    text-align: center;
    background: #00ADEE;
    border: 1px solid #00ADEE;
    border-width: 2px;
    box-sizing: border-box;
    border-radius: 50px;
    z-index: 30; }

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }
  .main__top {
    width: 100%;
    margin: 0 auto;
    height: 592px; }
    .main__top_size {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      height: 592px; }
    .main__top_left {
      width: 100%; }
      .main__top_left_img {
        margin-top: 109px;
        width: 466px;
        z-index: 5; }
    .main__top_right {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      margin-top: 133px; }
    .main__top_background {
      position: absolute;
      left: 0;
      height: 592px;
      /* background-image: url(images/Rectangle.png); */
      /* background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5); */
      z-index: -1; }
      .main__top_background:before {
        width: 100%;
        left: 0;
        content: '';
        background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5); }
  .main__center {
    width: 100%;
    margin: 0 auto;
    height: 716px; }
    .main__center_size {
      position: relative;
      display: flex;
      width: 100%;
      margin: 0 auto;
      height: 716px; }
      .main__center_size:before {
        position: absolute;
        content: " ";
        width: 100%;
        height: 100%;
        background-image: url(/images/SAMPLE05.png);
        z-index: -2; }
    .main__center_left {
      display: flex;
      flex-direction: column;
      margin-top: 217px; }
    .main__center_right {
      position: absolute;
      right: 0;
      margin: 0 auto; }
  .main__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 735px; }
    .main__content_size {
      max-width: 1200px;
      margin: 0 auto;
      width: 100%; }
    .main__content_caption {
      max-width: 1920px;
      width: 100%; }
    .main__content_background {
      position: absolute;
      left: 0;
      width: 100%;
      background-image: url(/images//Group696.png);
      height: 735px; }
    .main__content_bottom {
      height: 483px;
      display: flex;
      flex-direction: row; }
  .main__partners {
    height: 278px; }
    .main__partners_size {
      position: absolute;
      width: 100%;
      left: 0;
      background: #FAFAFA;
      height: 278px; }
    .main__partners_img_size {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 58px;
      margin-left: 180px;
      margin-right: 180px;
      justify-content: space-between; }

.h2 {
  width: 426px;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #333333; }
  .h2_size {
    margin-top: 27px;
    margin-bottom: 27px; }
  .h2_partners {
    margin: 0 auto;
    text-align: center;
    margin-top: 57px; }

.h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.swiper__h2_size {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 63px;
  margin-top: 62px; }

.content {
  display: flex;
  flex-direction: row;
  margin-left: 51px; }
  .content_bottom_right {
    margin-left: auto;
    display: flex;
    flex-direction: column; }
  .content_colomn {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .content_bottom_left_img {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1; }
  .content_bottom_text_size {
    font-size: 16px;
    line-height: 25px;
    width: 535px;
    margin-bottom: 38px; }
  .content_bottom_h2_size {
    margin-top: 105px;
    margin-bottom: 35px; }
  .content__h2_size {
    width: 508px;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 59px; }
  .content__top {
    margin-bottom: 50px; }
  .content__center {
    margin-bottom: 40px; }
  .content__img {
    margin-bottom: 11px; }
    .content__img_top {
      margin-bottom: 18px; }
    .content__img_bottom {
      margin-bottom: 6px; }

.color_white {
  color: #FFFFFF; }

.link {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #00ADEE; }
  .link_margin {
    margin-top: 22px; }
  .link_menu {
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF; }

.top__phone_img {
  margin-top: 100px;
  margin-right: 10px; }

.btn_counter {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-top: 150px;
  margin-left: 10px;
  z-index: 1;
  outline: none;
  border: none;
  border-radius: 50px;
  background: transparent;
  background-image: url(/images/btn1.png); }

.btn_bottom {
  position: absolute;
  margin-left: 270px;
  margin-top: -240px;
  width: 120px;
  height: 120px;
  z-index: 1;
  outline: none;
  cursor: pointer; }

.swiper__h2 {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.swiper-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 430px;
  z-index: 0; }
  .swiper-container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(to right, rgba(0, 0, 255, 0) 1%, white 0%, rgba(0, 0, 255, 0), white 100%);
    left: 0px;
    bottom: 0px;
    z-index: 1; }

.swiper-pagination {
  width: 140px;
  margin-bottom: 50px;
  background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%); }

.swiper-slide {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  width: 309px;
  height: 161px;
  z-index: 10; }
  .swiper-slide_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-left: 17px;
    margin-bottom: 23px; }

.footer {
  margin-top: -12px;
  max-width: 1920px;
  width: 100%;
  height: 127px;
  background: #00ADEE;
  width: 100%; }
  .footer_menu {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .footer_img_size {
    margin-top: 50px; }
  .footer_mini_img_size {
    margin-top: 51px;
    margin-right: 17px; }

.ul {
  display: flex;
  flex-direction: row;
  margin-top: 53px;
  margin-right: 271px;
  margin-left: 271px; }

.li {
  list-style-type: none;
  margin-right: 37px; }

.comment {
  width: 279px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
  margin-left: 18px; }

.avatar {
  margin-right: 11px; }

.twitter_mini_logo {
  margin-right: 17px; }

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    height: 100%; }
  .header {
    width: 320px;
    position: relative;
    background: #F4F6F9; }
    .header__logo {
      position: absolute;
      left: 50%;
      right: 50%;
      top: 31px;
      z-index: 2; }
    .header__content {
      position: relative;
      width: 100%;
      margin: 0 auto;
      height: 525px;
      background: #F4F6F9; }
      .header__content_block {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        margin-top: 143px; }
      .header__content_size {
        display: flex; }
    .header__img {
      display: none; }
    .header__h1 {
      margin: 0 auto;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      text-align: center; }
      .header__h1_indent {
        width: 320px;
        margin-bottom: 40px; }
    .header__button {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header__button_size {
        width: 145.69px;
        margin-right: 0px; }
        .header__button_size_mr {
          margin-right: 29px; }
  .text {
    margin: 0 auto;
    width: 320px;
    font-size: 16px;
    line-height: 23px;
    text-align: center; }
  .img__ios,
  .img__android {
    width: 145.69px; }
  .main {
    position: relative;
    margin-top: 525px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0 auto; }
    .main__top {
      width: 100%;
      margin: 0 auto;
      height: 592px; }
      .main__top_size {
        display: flex;
        max-width: 320px;
        margin: 0 auto;
        height: 592px;
        flex-direction: column-reverse; } }
